@import "../../ultilities/color"
#UserMenu
    display: flex
    flex-direction: column
    align-items: center
    padding: 0
    font-family: Gravity
    line-height: 2em
    li  
        ul
            visibility: hidden
        align-items: center
        display: flex
        justify-content: center
        list-style: none
        font-size: 2rem
        margin: 1em 0
        width: 70%
        text-align: center
        cursor: pointer
        text-decoration: none
        line-height: 1.5em
        div
            width: 100%
        a
            text-decoration: none
            color: $fontColorBlog
            width: 100%
            display: block
            