#ContentEditor 
    box-sizing: border-box
    width: 100%
   
    >div 
        box-sizing: border-box
        width: 100%
        padding: 0 10px
       
        &:last-child
            min-height: 100vh
            padding: 0
        &:first-child
            padding: 0
    div
        height: auto