#PostThumbnailSelect
    border: 1px solid black
    width: 100%
    display: flex
    font-size: 1rem
    flex-direction: column
    position: relative
    label
        cursor: pointer
    input
        font-size: 1rem
        