#Header
    width: 100%
    display: flex
    justify-content: space-between
    font-family: Gravity
    text-align: justify
    line-height: 2em
    >div
        display: flex
        align-items: center