@import "../ultilities/devices"
@import "../ultilities/font"
#ToggleContainer
    display: flex
    flex-basis: 40%
    justify-content: space-evenly
    transition: transform 0.5s ease-in-out
    align-items: center
    font-family: MainFont
    font-weight: 700
    
@media only screen and (max-width: $large) 
    #ToggleContainer
        transform:  translate(100%,0%)
        height: 100vh
        position: fixed
        width: 30vw
        right: 0
        top: 0
        justify-content: space-evenly
        flex-direction: column
        align-items: flex-end
@media only screen and (max-width: $medium)
     #ToggleContainer
        width: 50vw
@media only screen and (max-width: $small)
     #ToggleContainer
        width: 70vw
   
        
    
