@import "../ultilities/color"
@import "../ultilities/devices"
#MenuToggle
    display: flex
    justify-content: space-around
    flex-direction: row
    align-items: center
    padding: 0
    postion: relative
    flex-basis: 100%
    margin: 0
    height: 65%
    li  
        text-align: center
        font-size: 1.4em
        width: 22%
        position: relative
        list-style: none
        display: flex
        justify-content: center
        align-items: center
    a   
        z-index: 2
        background: $themse
        background-clip: text
        color: rgba(0, 0, 0, 0)
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        text-decoration: none
    div     
        width: 100%
        z-index: 2  
        background: $themse
        background-clip: text
        color: rgba(0, 0, 0, 0)
        cursor: pointer   
@media only screen and (min-width: $large)
    .active
        &:before
            left: 0% !important
            top: 7% !important
            width: 100% !important
            height: 100% !important
        a
            background: $themse !important
            background-clip: text !important 
            color: rgba(0, 0, 0, 0) !important
        div
            background: $themse !important
            background-clip: text !important
            color: rgba(0, 0, 0, 0) !important
    #MenuToggle
        div
            color: white
            
        a
            color: white
        li
            overflow: hidden
            width: 100%
            height: 100%
            &:before
                top: 50%
                left: 50%
                position: absolute
                content: ""
                width: 0
                height: 0
                background-image: url(../../public/image/btn-bg4.png)
                background-size: contain
                background-position: center top
                background-size: 100% 100%
                transform-origin: left
                transition: 0.2s
            &:hover:before
                left: 0%
                top: 7%
                width: 100%
                height: 100%
            &:hover a
                background: $themse
                background-clip: text
                color: rgba(0, 0, 0, 0)
            &:hover div
                background: $themse
                background-clip: text
                color: rgba(0, 0, 0, 0)
        
                

@media only screen and (max-width: $large) 
    #MenuToggle
        justify-content: flex-start
        flex-direction: column
        width: 100%
        height: 100vh
        padding-top: 100px
        background-color: gray
        li  
            width: 100%
            border: 1px solid black
            border-radius: 0px
            &:last-child
                display: none
      