#PreviewBlogContainer
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-content: space-around
    >div:nth-child(even)
        margin-right: 11%
    >div:nth-child(odd)
        margin-left: 11%
    div
        margin-bottom: 1rem
    