@import "../../ultilities/devices"
@import "../../ultilities/font"
.PreviewBlogChild
    border: 1px solid black
    border-radius: 0.5rem
    background-color: white
    box-sizing: border-box
    width: 35vw
    display: flex
    flex-direction: column
    aspect-ratio: 5/4.5
    .WindowBar
        height: 1.5rem
        backgroundd-color: gray
        border-bottom: 1px solid black
        margin-bottom: 0.5rem
        display: flex
        justify-content: flex-start
        align-items: center
        div
            margin-left: 0.5rem
            border-radius: 50%
            height: 50%
            aspect-ratio: 1/1
            &:nth-child(1)
                background-color: rgb(255,95,87)
            &:nth-child(2)
                background-color: rgb(255,188,46)
            &:nth-child(3)
                background-color: rgb(40,200,64)
                

    .img_container
        align-self: center
        overflow: hidden
        width: calc( 100% - 1rem )
        aspect-ratio: 16/9
        img
            transition: width 0.5s ease
            object-fit: fill
            width: 100%
            aspect-ratio: 16/9
    .title
        font-family: Gravity
        font-weight: 600
        font-size: 2rem
        line-height: 1em
        word-break: keep-all
        overflow: hidden
        max-height: 2em
        margin: 2px 
        padding: 0 0.5rem
    .content
        font-size: 15px
        max-height: 3em
        overflow: hidden
        text-overflow: ellipsis
        margin: 2px 
        padding: 0 0.5rem
    .date
        font-size: 12px
        margin: 0
        padding: 0 0.5rem
    // &:hover img
    //     width: 105%
        
@media only screen and (max-width: $medium)
    .PreviewBlogChild
        aspect-ratio: 5/5
        width: 60vw
        .content
            max-height: 1.5em
@media only screen and (max-width: $small)
    .PreviewBlogChild
        width: 90vw