
.InforBlogTitle
    font-size: 1.5rem
    font-family: MainFont
    &:hover
        outline: 1px solid rgb(136,60,252) 
        outline-offset: -1px
.InforBlogContent
    font-size: 1rem
    max-height: 3em
    overflow: hidden
    color: black
    span
        &:nth-child(1)
            float: left
            max-width: 70%
            white-space: nowrap 
            overflow: hidden
            text-overflow: ellipsis 
            direction: rtl
        &:nth-child(2)
            white-space: pre-wrap
    #HightLightWord
        float: none
        max-width: none
        white-space: nowrap 
        overflow: initial	
        text-overflow: initial 
        direction: ltr
    &:hover
        outline: 1px solid rgb(136,60,252) 
        outline-offset: -1px