@import "../ultilities/color"


#Footer
    position: absolute
    bottom: 0
    height: 45vh
    width: 100vw
    background-image: url(../../public/image/footer1.png)
    background-size: 100% 160%
    background-position: center center