@import "../ultilities/devices"
@import "../ultilities/color"

   
 
.NavStyle
    font-size: 5rem
    line-height: 1em
#FakeNav
 
    visibility: hidden
    position: relative
    top: 0
#MyNavBar 
    display: flex
    justify-content: space-between
    background-image: $themse
    color: white
    position: fixed
    top: 0
    width: 100vw
    z-index: 50
    transition: top 0.5s linear 
    box-shadow: 0px 0px 10px black

#MyNavBrand
    
    font-family: Gravity
    padding-left: 5%
    font-weight: 200
    text-align: center
    a 
        color: white
        text-decoration: none

@media only screen and (max-width: $large) 
    .NavStyle
        font-size: 4rem
    #MyNavBrand
        flex-basis: 70%
    #MyNavBar  
        justify-content: space-around
        position: relative
    #FakeNav
        position: absolute
@media only screen and (max-width: $medium)
    .NavStyle
        font-size: 4rem
        z-index: -1
    #MyNavBar  
        justify-content: space-around
@media only screen and (max-width: $small) 
    #MyNavBrand
        justify-content: space-around
    .NavStyle
        font-size: 3rem
