@import "./ultilities/devices"
:root
    font-size: 18px
    box-sizing: border-box
    width: 100vw
    max-width:100%
    overflow-x: hidden
    
.hideMenu
    transform: translate(0%,0%) !important
.displayBlock
    display: block  !important
.handleMenuButton
    
    span 
        background-color: red  !important
        transition-timing-function: ease-in-out
        transition-duration: 0.4s
        &:nth-child(2)
            transform: translateX(-100%)
            opacity: 0
        &:nth-child(1)
            transform: rotate(-45deg) translateX(-55%)
        &:nth-child(3)
            transform: rotate(45deg) translateX(-55%)
.hidden 
    display: none !important
#__next 
    min-height: 100vh
    display: flex
    flex-direction: column
html
    font-size: 18px
.--pixelContainer
    border-style: solid !important
    border-width: 5px 0px !important
    position: relative
    transform-style: preserve-3d
    background-color: white
    z-index: 2
    cursor: pointer
    &::after
       content: "" !important
       z-index: -1
       transform: translateZ(-10px)
       position: absolute !important
       border-width: 5px  0px!important
       border-style: solid !important
       width: calc( 100% + 10px ) !important
       top: 0 !important
       height: 100% !important
       background-color: white
    &::before
       content: "" !important
       z-index: -1
       position: absolute !important
       border-width: 0px 5px !important
       border-style: solid !important
       height: calc(100% - 10px) !important
       width: calc( 100% + 20px) !important
       top: 5px !important
    &:hover
        border-color: rgb(136,60,252)
        &::before
            border-color:  rgb(136,60,252)
        &::after
            border-color:  rgb(136,60,252)   
.--disabled
    cursor: not-allowed !important
    color: #6c757d !important
.--skeleton
    position: relative !important
    width: 100%
    overflow: hidden !important
    > * 
        overflow: hidden !important
        position: relative !important
    > *.set::after
        z-index: 1
        width: 100% !important
        content: "" !important
        // background-color: #dddddd
        top: 0
        position: absolute
        right: 0
        bottom: 0
        left: 0
        background: linear-gradient(to right,#dddddd,#ffffff 50%,#dddddd) !important
        animation: skeletonLoading 1.5s linear infinite 
        // animation: name duration timing-function delay iteration-count direction fill-mode
    > *.set::before
        z-index: 1
        content: "" !important
        top: 0
        position: absolute
        right: 0
        bottom: 0
        left: 0
        background-color: #dddddd !important
@keyframes skeletonLoading
    0%  
        left: -120%
    100%
        left: 120%
    